# Ignorar archivos confidenciales con contraseñas
.env

# Ignorar archivos del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Ignorar logs de errores de PHP
*.log
error_log

# Ignorar configuraciones de editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
